<form method="get" action='@Url.Action("Jugar","Home")'>
  <div class="form-group">
    <label for="exampleFormControlInput1">Ingresa tu Nombre</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="Nombre">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
</form>