<div class="jumbotron">
  <h1 class="display-4">Respuesta Correcta!</h1>
  <p class="lead">Acabas de ganar @ViewBag.Pozo.Importe !!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href='@Url.Action("FinJuego","Home")' role="button">Retirarse</a>
  <a class="btn btn-primary btn-lg" href='@Url.Action("Pregunta","Home")' role="button">Continuar</a>
</div>